* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", Verdana;
}

::selection {
  background-color: var(--deepGreen);
  color: var(--whiteColor);
}

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-thumb {
  background-color: var(--deepGreen);
}

:root {
  --shadowBlack: rgba(0, 0, 0, 0.71);
  --BlackColor: rgba(0, 0, 0, 1);
  --deepGreen: rgb(9, 41, 9);
  --whiteColor: rgb(255, 255, 255);
  --bgColor: rgb(223, 219, 219);
}

body {
  background-color: var(--whiteColor);
}

/* (min-width: 768px) and (max-width: 991px) */

nav {
  margin-top: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5em;
  height: 3em;
}
nav .logo {
  width: 4em;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .logo img {
  width: 80%;
}
nav ul a{
  font-weight: 600;
  font-size: 1.5em;
  color: var(--deepGreen);
}
.content-container {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  justify-content: center;
  align-items: center;
}
.first {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first h4 {
  font-size: 1.2em;
  padding: 0.5em;
  text-align: center;
}
.tick-container {
  margin-top: 2em;
  width: 100%;
  padding: 0.2em 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.tick {
  padding: 0.7em;
  height: 0.5em;
  margin-right: 0.8em;
  background-color: var(--deepGreen);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tick i{
  color: var(--whiteColor);
  font-weight: 300;
}
.tick-container p {
  text-align: start;
}

.second {
  padding-top: 8em;
  width: 100%;
  position: relative;
  height: 30em;
  display: flex;
  justify-content: center;
}
.second img {
  width: 60%;
}

.about {
  margin-top: 3em;
  padding-top: 3em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5em;
}
.form-container {
  width: 100%;
  height: 30em;
  margin: 0 4em;
  background-color: var(--whiteColor);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px var(--deepGreen);
}
.image-con {
  width: 100%;
  height: 50%;
  position: relative;
  display: flex;
  justify-content: center;
}
.image-con img {
  width: 80%;
}
.btn-container {
  margin-top: 2em;
}
.btn-container a {
  background-color: var(--deepGreen);
  padding: 1em;
  font-weight: 600;
  border-radius: 5em;
  color: var(--whiteColor);
  transition: all 1s;
}

.btn-container a:hover{
  background-color: green;
}
h1 {
  font-size: 2em;
  padding: 0.5em;
  text-align: center;
}

@media (min-width: 768px) {

 .content-container{
  flex-direction: row;
  align-items: flex-start;
 } 
 .first {
  width: 100%;
 }
 .form-container{
  margin: 0 14em;
 }
 .tick{
  margin-left: 2em;
 }
}